*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 4rem;
  font-weight: bold;
  font-family: 'helvetica';
}

.App-title .dot {
  font-size: 6rem;
  color: #007bff;
}

.form-builder {
  padding: 20px;
  text-align: left;
}

.form-builder__addform {
  margin: 0 auto;
  max-width: 300px;
}

.sidebar {
  border-left: 1px solid #cdcdcd;
}

.sidebar__heading {
  text-align: center;
}

/**
 * Component: FieldList
 */
.field-list {
  max-width: 800px;
  margin: 0 auto;
}

.field-list .fieldwrapper {
  cursor: grab;
}

/**
 * Component: FieldWrapper
 */
.fieldwrapper {
  cursor: grab;
  display: block;
  padding: 1.5rem;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  width: 100%;
  margin: 35px  auto 0;
  background: #fff;
}

.fieldwrapper--dragging {
  cursor: grabbing;
  pointer-events: auto !important;
  opacity: .7;
}

.fieldwrapper--dragging::after {
  position: absolute;
  content: '';
  background: #000;
  opacity: .4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fieldwrapper__controls {
  background-color: #F9F9FC;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: -24px;
  padding: 15px;
  border-top: 1px solid #cdcdcd;
  border-radius: 0 0 5px 5px;
}

.fieldwrapper__remove {
  margin-left: 5px;
}

.fieldwrapper--editing {
  border-color: #007bff;
  background-color: #f6faff;
}
