*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.form-builder {
  padding: 20px;
  text-align: left;
}

.form-builder__addform {
  margin: 0 auto;
  max-width: 300px;
}

.form-builder__field {
  padding: 10px;
  display: block;
}

/**
 * Component: FieldWrapper
 */
.fieldwrapper {
  display: block;
  padding: 1.5rem;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  max-width: 800px;
  margin: 35px  auto 0;
}

.fieldwrapper__remove {
  margin-left: 5px;
}
