*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.form-builder {
  padding: 20px;
}

.form-builder__field {
  padding: 10px;
  display: block;
}

/**
 * Component: FieldWrapper
 */
.fieldwrapper {
  display: block;
  padding: 1.5rem;
}
